/* content.css */

$color_marked: #044D22;
$color_unmarked:#a94442;
$color_leaf: #ACDA9E;

$color_study: #2B637B;
$color_main: #E08031;

.collect-btn {
  display: none;
}

.spider {
  &.main{
    border: 1px solid $color_main !important;
    position: relative;
  }
  &.mainMask{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: $color_main;
    opacity: 0.3;
  }
  &.marked {
    position: relative;
    &.listNode{
      border: 1px solid $color_marked !important;
    }
    &:hover .collect-btn {
      display: block !important;
      top: 0;
      left: 0;
    }
  }
  &.unmarked {
    border: 1px dashed $color_unmarked !important;
    .collect-btn {
      //display: none;
    }
  }
  &.leaf{
    border: 1px solid $color_leaf !important;
  }
  .collect-btn {
    position: absolute;
    display: none;
    z-index: 9999999999998;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
    background: #aaa;
    background: rgba(0, 0, 0, .3);
    color: white;
    cursor: pointer;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 14px;
  }
}
