/**
* Control Panel.scss 控制面板样式
*/
@import "./global.scss";
@import "./components/button.scss";
@import "./components/switch.scss";

.spider-control-panel {
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  bottom: 5em;
  right: $fixed_right;
  padding: 20px;
  width: 300px;
  height: auto;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 14px -5px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    margin: 0;
    padding: 0;
  }

  .panel-item {
    padding-top: 1em;
    h4 {
      border-left: 4px solid #007bff;
      padding-left: 4px;
    }
    h5 {
      padding-bottom: 0.2em;
    }
  }

  .section_3 {
    margin-top: 20px;
    padding-bottom: 10px;
    .panel-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem;
    }
    label {
      margin: 0;
    }
  }
}

/* 网页分类折线图 */
#spider-classify-charts {
  position: relative;
  left: -20px;
  display: inline-block;
  width: 300px;
  p {
    position: relative;
    bottom: -10px;
  }
}
