/* Color.scss 全局颜色样式文件 */
$color_marked: #044d22;
$color_unmarked: #a94442;
$color_leaf: #acda9e;
$color_culster: #2160e7;
$color_study: #2b637b;
$color_main: #e08031;
$color_nonMain: #8990dd;
$color_post: #e05371;
$color_test: #4677e0;
